/* HERO */
.hero-coaches-wrapper {
    position: relative;
    display: inline-block;
}

.hero-text-container {
    position: absolute;
    top: 20%;
    left: 5%;
    background: black;
    color: white;
    margin-top: 50px;
    padding: 20px 30px;
    border: 2px solid #9f9809;
    font-size: 24px;
    width: 420px;
    border-radius: 6px;
}

.hero-text-yellow {
    color: #9f9809;
    font-weight: bold;
}

/* Treneri */

.koso-name {
    color: black;
    font-weight: 1000;
}

.koso-popisok {
    color: #302e2e;;
}

.row-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

/* Obrázok */
.section-image {
    width: auto;
    height: auto;
    position: relative;
    z-index: 1; /* obrázok nižšie */
}

/* --- KOSODĹŽNIK --- */
.parallelogram {
    width: 500px;
    height: 260px;
    background: #9f9809;
    transform: skewX(-15deg);
    display: flex;
    align-items: center;
    padding: 30px;
    position: absolute;  /* umožní prekrytie obrázka */
    z-index: 3;          /* nad obrázkom */
}

.parallelogram-content {
    transform: skewX(15deg);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

/* 🔵 SEKCIA 1 — obrázok vpravo, kosodĺžnik do neho zasahuje zľava */
.section-left-koso #img1 {
    margin-left: 500px; /* posunie obrázok doprava */
}

.section-left-koso #koso1 {
    left: calc(50% - 350px);
}

/* 🔵 SEKCIA 2 — obrázok vľavo, kosodĺžnik zasahuje sprava */
.section-right-koso #img2 {
    margin-right: 500px;
}

.section-right-koso #koso2 {
    right: calc(50% - 350px);
}


