/* Celá sekcia s pozadím */
body {
    background-color: black;
}

.login-hero {
    /* Pozadie */
    background-image: url('/images/main-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    background-position: center;

    /* Text a Form */
    display: flex;
    place-items: center; /* rovno zakliknuty form */
    padding-left: 10%;
}

/* Nadpis PRIHLÁSENIE */
h1 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

/* Login karta */
.card-signin {
    background: transparent;
}

/* Inputy */
.card-signin .form-control {
    font-size: 1rem;
}

/* Log in tlačidlo */
.button-green {
    background: #0ea30e;
    font-size: 0.7rem;
    font-weight: bold;
    width: 50%;
}

.button-green:hover {
    background: #0c8d0c;
}

@media (max-width: 550px) {
    .login-hero {
        background-image: none !important;
        background-color: #070303;
        height: auto;
        padding-left: 0;
        margin-top: 5rem;
        display: flex;
        justify-content: center; /* center horizontally */
        align-items: center;
        gap: 1rem;
    }
}
