.permits-hero {
    width: 100%;
    min-height: 600px;
    background-image: url('/images/permits-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}