/* ---------- GLOBAL ROOT STYLES ---------- */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(14px, 2vw, 25px);
}

body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* ---------- NAVBAR ---------- */

.navbar-nav {
    gap: 0.5rem
}

.nav-link {
    color: #1b1717;
    font-size: 1em;
    transition: color .2s;
}

.nav-link:hover {
    color: #9f9809;
}

#login-signin-container {
    border-left: 0.1em solid #000000;
}

/* mobilné menu pozadie navbar-expand-lg = 992px */
@media (max-width: 992px) {
    #login-signin-container {
        border-left: none;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }
}

#user-name {
    font-weight: 1000;
}

/* ---------- FOOTER ---------- */

#footer {
    background: grey !important;
}

/* BUTTON */
.btn-primary {
    background: black;
    border: 0.1rem solid white;
    font-weight: 700;
}

.btn-primary:hover {
    background: #9f9809;
    border: 2px solid white;
}

.btn-primary:active {
    background: #635f13 !important;
    border: 2px solid #000000 !important;
}

/* BUTTON */
.button-green {
    background: #0ea30e;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.1rem;
    padding: 0.5rem;
    border: black solid 1px;
}

.button-green:hover {
    background: #0c8d0c;
}

.button-green:active {
    background: #0a700a !important;
}