body {
    background: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

#navbar {
    background: #ffff;
}

#footer {
    margin-top: auto;
    background: grey !important;
}