body {
    background: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

#navbar {
    border: 3px solid #000000;
    width: auto; /* celá sirka obrazovky */
    height: 10vh; /* celá výška obrazovky */
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: #1b1717;
    transition: color .2s;
    margin-left: 20px;
}

#user-icon, #home-icon-name, .nav-link {
    font-size: 2vmin;  /*veľkosť podľa menšieho rozmeru okna */
}

.nav-link:hover {
    color: #9f9809;
}

#footer {
    margin-top: auto;
    background: grey !important;
}

#login-signin-container {
    border-left: 3px solid #000000 !important;
}

.hero-img {
    width: 100%;
    height: 100%;
}