body {
    background: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

#navbar {
    border: 3px solid #000000;
}

#footer {
    margin-top: auto;
    background: grey !important;
}

#login-signin-container {
    border-left: 3px solid #000000 !important;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: #1b1717;
    transition: color .2s;
}

.nav-link:hover {
    color: #9f9809;
}

#ucet-icon {
    width: 20px;
    height: 20px;
    line-height: 20px;
}