body {
    background: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#navbar {
    border: 3px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;  /* TODO zmen */
    z-index: 9999; /* aby bol nad obsahom */
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: #1b1717;
    transition: color .2s;
    margin-left: 20px;
}

html {
    font-size: clamp(14px, 2vw, 25px); /* (minimálny, preferovaný, maximálny) TODO Skotroluj ako funguje */
}

.nav-link:hover {
    color: #9f9809;
}

#footer {
    margin-top: auto;
    background: grey !important;
}

#login-signin-container {
    border-left: 3px solid #000000 !important;
}

.home-hero-img {
    margin-top: 70px; /* TODO zmen */
    width: 100%;
    height: auto;
    display: block;
}

.home-hero-text {
    position: absolute;
    top: 50%;        /* vertikálne vystredenie */
    left: 15%;       /* horizontálne vystredenie */
    transform: translate(-15%, -50%);
    font-family: 'Poppins', sans-serif;
    font-size: 5rem; /* prípadne clamp() */
    color: #9f9809;
    font-weight: 600;
    text-shadow: 3px 3px 3px #000000;
}

.home-hero-div {
    position: relative;
}

.co-ponukame {
    display: flex;
    gap: 50px;
    padding-left: 100%; /* posun na štart od pravej strany */
    animation: moveLine 25s linear infinite;
}

.square-even {
    background: #9f9809;
}

.square-odd {
    background: #ffffff;
}

.square-odd, .square-even {
    flex: 0 0 auto;
    width: 350px;
    height: 200px;
    margin-left: 50px;
    border-radius: 30px;
    color: #070303;
}

@keyframes moveLine {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-400%); /* odíde úplne za ľavý okraj */
    }
}

.sq-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}

.sq-text {
    font-size: 1rem;
    margin: 0 20px;
    font-family: 'Poppins', sans-serif;
}

.co-ponukame-wrapper {
    width: 100%;
    overflow: hidden;  /* skryje len keď animácia prekročí okraj */
    position: relative;
}


