h2 {
    color: #9f9809;
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    align-self: center;
    text-shadow: 0 0.1rem 0.1rem #ffffff;
}

h5 {
    font-weight: 550;
}

.card {
    padding: 1rem;
    margin: 2rem;
}

.image-card {
    padding: 1rem;
    max-width: 20vw;
    border: 0.01rem solid black;
    border-radius: 0.2rem;
}

.card-img-top {
    border: 0.01rem solid black;
}

@media (max-width: 992px) {
    .image-card {
        max-width: 25vw;

    }
}