body {
    background-color: #1a1a1a;
}

h2 {
    color: #9f9809;
    font-weight: 1000;
    padding-left: 1rem;
    font-size: 2.5rem;
    margin-top: 1rem;
    align-self: center;
    text-shadow: 0.3rem 0.3rem 0.3rem #000000;
}

#title-white-word {
    color: white;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.gallery-item {
    background: #2d2d2d;
    border: 1px solid #fffe00;
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.gallery-item-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}

.gallery-img {
    width: auto;
    max-height: 50vh;
    padding: 0.3rem;
    border: 0.2rem solid white;
}